<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="time">

<!-- 수강신청 리스트 조회 2022/11/24:kym-->
<select id="regist" resultType="timetable.TimeTableVO">
<![CDATA[
   select  nvl2(s.lecture_num, 1, 0) lecture_apply /*수강신청여부*/,
    CASE WHEN S.SEMESTERPOINT   =   0 THEN 0 
     WHEN  S.SEMESTERPOINT   >   0 THEN 1 
     WHEN e.cnt   >   0 THEN 2 
     WHEN e_grp.cnt  >=   40 THEN 3 
                
ELSE  0 END CHECK_FLAG , nvl(e_grp.cnt,0) CHECK_CNT, l.*
from lectures l LEFT OUTER JOIN (SELECT * FROM SUBJECTSCORE s WHERE ID =  #{id} ) s ON l.LECTURE_NUM = s.LECTURE_NUM
                LEFT OUTER JOIN (SELECT COUNT(*) cnt ,  LECTURE_NUM FROM SUBJECTSCORE e WHERE ID = #{id} GROUP BY LECTURE_NUM) e ON l.LECTURE_NUM = e.LECTURE_NUM
                LEFT OUTER JOIN (SELECT COUNT(*) cnt ,  LECTURE_NUM FROM SUBJECTSCORE e  GROUP BY LECTURE_NUM) e_grp ON l.LECTURE_NUM = e_grp.LECTURE_NUM
                

where l.semester = '2' and S.SEMESTERPOINT is null
and lecture_title like '%'||#{lecture_title,jdbcType=VARCHAR} ||'%'
and SORTATION like '%'||#{sortation,jdbcType=VARCHAR}  ||'%'
order by l.lecture_num
]]>

</select>

<!-- 상세보기 -->
<select id="detail" resultType="timetable.TimeTableVO">
	 select lecture_num, lecture_title, sortation, lecture_room, teacher_name, lecture_time, subjectcredit, state, book, capacity from lectures where lecture_num = #{lecture_num}
	<!-- select lecture_num, lecture_title, sortation, lecture_room, teacher_name, 
	DECODE(lecture_time,'1교시',' 1교시(9:00~9:50)','2교시',' 2교시(10:00~10:50)','3교시',' 3교시(11:00~11:50)', '4교시',' 4교시(12:00~12:50)', '5교시',' 5교시(14:00~14:50)', '6교시',' 6교시(15:00~15:50)', '7교시',' 7교시(16:00~16:50)', '8교시',' 8교시(17:00~17:50)'), 
	subjectcredit, state, book from lectures where lecture_num = #{lecture_num} -->
</select>

<!-- 학과 목록 조회 -->
<select id="titleList" resultType="timetable.TimeTableVO">
	select distinct lecture_title, lecture_num from lectures order by lecture_num
</select>

<!-- 과목명으로 검색 -->
<select id="lecture_title_list" resultType="timetable.TimeTableVO">
	select * from lectures where lecture_title like '%'|| #{lecture_title, jdbcType=VARCHAR} ||'%'
</select>

<!-- 이수구분으로 검색 -->
<select id="sort_list" resultType="timetable.TimeTableVO">
	select distinct sortation, lecture_num, lecture_title, teacher_name, lecture_room, lecture_time, subjectcredit, lecture_day from lectures where sortation is not null
</select>

<!-- 내 시간표 보기 -->
<select id="timeTable_list" resultType="timetable.TimeTableVO">
	SELECT L.LECTURE_NUM, L.LECTURE_TITLE, L.LECTURE_ROOM, L.LECTURE_TIME, L.LECTURE_DAY, l.semester
	FROM lectures L INNER JOIN  subjectscore E
	ON l.lecture_num = e.lecture_num
	WHERE E.ID= #{id} AND e.semesterpoint is null
</select>

<!-- 수강신청 -->
<insert id="insert">
	insert into subjectscore values (#{lecture_num}, #{id}, '', '')
</insert>

<!-- 수강신청한 강의 삭제 -->
<delete id="delete">
	delete from subjectscore where id= #{id} and lecture_num = #{lecture_num} and semesterpoint is null 
</delete>

<!-- 시간표 수정 -->
<update id="update">
	update
</update>

</mapper>